<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX-GO CHAT</title>
  <script src="https://unpkg.com/htmx.org@1.9.8"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="max-w-5xl mx-auto p-5">
    <form hx-post="/sendMessage" hx-target="#chat">
      <input type="text" name="message">
      <button type="submit">Send</h1>
    </form>
  </div>
  <div id="chat"></div>
</body>
</html>